# tuple data type | depth

In [1]:
t = (1,2,3,4,5)
print(t,type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
print(t[0],t[2])

1 3

In [3]:
print(t[:3])

(1, 2, 3)

# take note
## for tuples we have two methods
* ordered indexing
*  slicing

In [4]:
t = (10,20,30,40,50,60)
print(t.index(20))
print(t.count(20))# counts the number of occurences

1
1

In [5]:
t = (20,20,30,40,50 ,60,70,80,90)
print(t.count(20))

2

In [6]:
print(t.index(20))

0

In [8]:
l = [1,2,3,4]
for idx,v in enumerate(l):
    print(idx,v)

0 1
1 2
2 3
3 4

In [9]:
for t in enumerate(l):
    print(t[1])

1
2
3
4

In [10]:
for t in enumerate(l):
    print(t[0])

0
1
2
3

In [11]:
#  convert my list to tuple
t = tuple(l)
print(t)

(1, 2, 3, 4)

In [12]:
t = ('a','b','c', 10,20,30,40,50) # converting tuple to list
l = list(t)
print(l)

['a', 'b', 'c', 10, 20, 30, 40, 50]

## a) given tuple t = (10,20,30,40)
## reverse the tuple t
## output : (40,30,20,10)

## b) given t1 = (1,2,3,4,5) and t2 = (3,4,2,5,1) swap those two tuples
# t1=t2  , t2 =t1

## c) given tuple b = (4,5,6,7) copy element 5,6 into a new tuple t2
## output: t2: (5,6)

## 18:34pm

In [22]:
t = (10,20,30,40)
t = t[::-1]
print(t)

(40, 30, 20, 10)

In [14]:
t1 = (1,2,3,4,5)
t2 = (3,4,2,5,1)
t1,t2 = t2, t1
print(t2)
print(t1)

(1, 2, 3, 4, 5)
(3, 4, 2, 5, 1)

In [15]:
b = (4,5,6,7)
t2 = b[1:3]
print('t2:',t2)

t2: (5, 6)

In [16]:
lis = [1,2,3,4,5]
print(lis.index(1))

0

In [17]:
print(lis.index(2))
print(lis.index(3))
print(lis.index(4))
print(lis.index(5))

1
2
3
4

In [18]:
index_2_3 = lis[1:3]
index_2_3

[2, 3]

In [19]:
lis[4:5]

[5]

In [20]:
lis[3:5]

[4, 5]

# modify  the first item (10) of a list inside a tuple  100
# t  = (11,[10,20], 30, 50]

# output L: (11,[100,20],30,50)

In [23]:
t= (11, [10,20], 30, 50)

In [24]:
t.index([10,20])

1

In [25]:
t[1][0] = 100
print(t)

(11, [100, 20], 30, 50)