#help(str)
#print(dir(str))

# String depth

In [1]:
p = 10
r = 5
print ('value of p  is {} value of r {}'.format(p,r))

value of p  is 10 value of r 5

In [3]:
#intechange
print('value of p is is {1} value of r {0}'.format(p,r))

value of p is is 5 value of r 10

In [4]:
s = 'python sample string'
s1 = s.capitalize()
print(s1)

Python sample string

In [5]:
print(s.upper())#capitalizes all letters

PYTHON SAMPLE STRING

In [6]:
print(s.lower()) #vice versa

python sample string

In [7]:
print(s.title())#first letter of a word capitalized

Python Sample String

In [11]:
#lets apply boolean to check whether true or false of each of the condition
print(s1.isupper())# check if string s1 is capitalized if it is then it will return true else false

False

In [12]:
print(s1.islower())# it returns false simply because the first letter is 'P' capitalized

False

In [14]:
s1 = s1.lower()
print(s1.lower())
print(s1.islower())#it reutrns true because all the letters are lower cases

python sample string
True

In [16]:
S = 'Python, Java, CSS,Django, Javasript'# use split function to split into a list
l = S.split(',')# in terms of comma ,
print(l)

['Python', ' Java', ' CSS', 'Django', ' Javasript']

In [18]:
#if you wanna join them we use join function
w = (" ").join(l)# in terms of just space
print(w)

Python  Java  CSS Django  Javasript

In [19]:
#same can be done with comma
w = (" , ").join(l)
print(w)

Python ,  Java ,  CSS , Django ,  Javasript

In [21]:
# Suppose we form two strings and we want whatever that is aligned to w1 to replaced in w2
#in sample terms a = 1, b = 2, c=3, d =4
#we will make use of maketrans and translate function
w1 = 'abcd'
w2 = '1234'
w3 = "python sample string abcd"

table = str.maketrans(w1,w2) #map w1 and w2
result = w3.translate(table)
print(result)

python s1mple string 1234

* Find if word exist in T and print the index of that word

In [22]:
T = 'Python, Java, CSS,Django, Javasript'
print('Python' in T)
print(T.index('Python'))

True
0

In [23]:
print(T.find('Python'))

0

In [24]:
t = "     the sample string    "
t1 = t.strip(" ")#strip function gets rid of spaces
print(t1)

the sample string

In [26]:
t_star = "  ***   the sample string ***   "
t2 = t_star.strip(" *")#strip function gets rid of stars
print(t2)

the sample string

In [29]:
#suppose we only get rid of stars only from right hand side
t_r = " ** the students of this **"
t3 = t_r.rstrip("*")
print(t3)

 ** the students of  this

In [30]:
t = 'Python'
t_c = t.center(10,'*') # adds *s and keeps python in the center
print(t_c)

**Python**

In [31]:
t = 'Python'
t_c = t.rjust(10,'*') # adds *s and keeps python to right
print(t_c)

****Python

In [32]:
t = 'Python'
t_c = t.ljust(10,'*') # adds *s and keeps python to the left
print(t_c)

Python****

In [34]:
r = 'html, css, python, html'
r1 = r.replace('html', 'HTML5')
print(r1)

HTML5, css, python, HTML5