# tuple data type- depth

In [2]:
t = (10,20,30,40,50)
print(t, type(t))

(10, 20, 30, 40, 50) <class 'tuple'>

In [3]:
print(t[0],t[2])

10 30

In [4]:
print(t[:3])

(10, 20, 30)

## take note
 ### for tuples we have two methods
 
 * ordered indexing
 * slicing

In [5]:
t = (10,20,20,20,30,40,50)
print(t.index(20))
print(t.count(20)) #count number of occurrences

1
3

In [6]:
l = [1,2,3,4,5]
for idx,v in enumerate(l):
    print(idx,v)

0 1
1 2
2 3
3 4
4 5

In [7]:
for t in enumerate(l):
    print(t[1]) # for index t[0] for value t[1]

1
2
3
4
5

In [8]:
# convert list to tuple
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [9]:
t = ('a','b','c',10)
l = list (t)
print(l,type(t))

['a', 'b', 'c', 10] <class 'tuple'>

# Dictionary Data type| storing and Accessing the data in dictionaries

# * Mutable
# * unordered
# * keys should be unique and immutable int float str tuple

In [10]:
d = {'emp_id': 2020, 'name': 'stu1', 'email':'stu1@spu.ac.za'}
d

{'emp_id': 2020, 'name': 'stu1', 'email': 'stu1@spu.ac.za'}

In [11]:
d = {'emp_id': 2020, 'name': 'stu1', 'email':'stu1@spu.ac.za', 'name': 'reserve'}
d

{'emp_id': 2020, 'name': 'reserve', 'email': 'stu1@spu.ac.za'}

In [13]:
d = {'emp_id': 2020, 'name': 'stu1', 'email':'stu1@spu.ac.za'}
d

{'emp_id': 2020, 'name': 'stu1', 'email': 'stu1@spu.ac.za'}

In [16]:
d['contact no']= 65432
d

{'emp_id': 2020,
 'name': 'stu1',
 'email': 'stu1@spu.ac.za',
 'contact no': 65432}

In [17]:
print(d['emp_id'])

2020

In [18]:
print(d.get('name'))

stu1

In [19]:
print(d.setdefault('age'))

None

In [20]:
d

{'emp_id': 2020,
 'name': 'stu1',
 'email': 'stu1@spu.ac.za',
 'contact no': 65432,
 'age': None}

In [22]:
print(d.setdefault('age',18))
print(d)

None
{'emp_id': 2020, 'name': 'stu1', 'email': 'stu1@spu.ac.za', 'contact no': 65432, 'age': None}

In [23]:
for x in d:
    print(x)

emp_id
name
email
contact no
age

In [24]:
for key in d:
    print(key,d[key])

emp_id 2020
name stu1
email stu1@spu.ac.za
contact no 65432
age None

In [25]:
d= {}
for value in range(1,11):
    d[value] = value * value
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
print(d.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [27]:
print(d.values())

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [28]:
print(d.items())

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

# Dictionary Data type| Update and Delete Operations

In [31]:
l = [1,2,3,4]
l2 = [1,2,3,4]

In [32]:
d = dict(zip(l,l2))
print(d)

{1: 1, 2: 2, 3: 3, 4: 4}

In [33]:
d = dict.fromkeys(l)
print(d)

{1: None, 2: None, 3: None, 4: None}

In [34]:
d1 = {1:1, 2:4,3:9, 4:16}
d2 = {5:25, 6:35, 7:49}

d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 35, 7: 49}

In [35]:
r =d2.pop(5)
print(d2)

{6: 35, 7: 49}