# Membership Operators in, not in

In [1]:
l = [1,2,3,4,5] # creating a list
#we have a list 'l' and we want to check if element number exists
print(3 in l)
# if 3 exist in the list 'l' then it will return True to show it exists
# else output false

True

In [2]:
print(5 not in l)
# is 5 not in list 'l'

False

In [3]:
print( 6 not in l)
# is 6 not in list 'l'

True

In [4]:
s = 'ICT Students' # string
print('ICT Students' in s)

True

In [5]:
print('ICT' in s)

True

In [6]:
print('ICT students' in s)

False

In [7]:
print('ICT' not in s)

False

In [8]:
print("ict" not in s)

True

In [9]:
module = 'Big Data Foundations'

print('BIg' in module)

False

In [10]:
print('BIg' not in module)

True

# Conditional Statements| if, elif, else

* a conditional statement in python, also called  condition constructs, is a statement that accomodates a condition inside itself. this condition is constructed using bitwise, boolean, comparison operators in Python

* conditional statements are used to decide the flow of your program based particular condition

In [11]:
# in terms of age
candy = 14 # candy's age is 14 years old
rasty = 16 # rasty's age is 16 years old

if candy > rasty:
    print('Candy is older than rasty')
elif rasty> candy:
    print('rasty is older than candy')
else:
    print('both candy and rasty are the same age')

rasty is older than candy

In [12]:
# in terms of age
candy = 16 # candy's age is 16 years old
rasty = 16 # rasty's age is 16 years old

if candy > rasty:
    print('Candy is older than rasty')
elif rasty> candy:
    print('rasty is older than candy')
else:
    print('both candy and rasty are the same age')

both candy and rasty are the same age

# Iterating Loops|Syntax

* for loop
* while loop

## **Iterable data types: string, list, tuple, dictionary, set syntax for loop**

for [variable name] in  [iterable datatype]:
            
            statements

In [15]:
dogs  = ['border collie','pitbull','australian cattle dog','puppy']
for dog in dogs:
    print(dog)

border collie
pitbull
australian cattle dog
puppy

## indexing and manipulating the list

In [16]:
dogs[0]

'border collie'

In [17]:
dogs[1]

'pitbull'

In [18]:
dogs[2]

'australian cattle dog'

In [19]:
dogs[3]

'puppy'

In [20]:
dogs[-1]

'puppy'

In [21]:
dogs[-2]

'australian cattle dog'

In [22]:
dogs[-3]

'pitbull'

In [24]:
dogs[-4]

'border collie'

In [25]:
dogs[-4] = 'PK'

### dogs

In [27]:
print(dogs.index('PK'))

0

In [28]:
dogs[2]

'australian cattle dog'

In [29]:
dogs[-3] # reverse index

'pitbull'

In [30]:
dogs

['PK', 'pitbull', 'australian cattle dog', 'puppy']

In [31]:
print('puppy' in dogs)

True

In [32]:
print('wsdcvd' in dogs)

False

In [33]:
print('asfsdf' not in dogs)

True

In [34]:
dogs

['PK', 'pitbull', 'australian cattle dog', 'puppy']

In [35]:
#add or update
dogs.append('rasaan')
dogs

['PK', 'pitbull', 'australian cattle dog', 'puppy', 'rasaan']

In [36]:
print(dogs.index('rasaan'))

4

In [37]:
#sort in order
dogs.sort()
dogs

['PK', 'australian cattle dog', 'pitbull', 'puppy', 'rasaan']

In [38]:
dogs.sort()
print(dogs)

['PK', 'australian cattle dog', 'pitbull', 'puppy', 'rasaan']

In [40]:
ages  = [16,18,20,19,21,22,23,14,17]

ages

[16, 18, 20, 19, 21, 22, 23, 14, 17]

In [41]:
ages.sort()
print(ages)

[14, 16, 17, 18, 19, 20, 21, 22, 23]

In [42]:
ages.reverse()
print(ages)

[23, 22, 21, 20, 19, 18, 17, 16, 14]

In [43]:
min(ages)

14

In [44]:
max(ages)

23

In [45]:
len (ages)

9

In [48]:
sum_of = 23+22+21+20+19+18+17+16+14/9
sum_of

157.55555555555554

In [49]:
sum(ages)

170

In [61]:
l = [1,2,3,4,5]
for value in l:
    print(value)

1
2
3
4
5

In [50]:
sum(l)

15

In [53]:
# alternative method for using for loop
sum = 0
for value in l:
    sum += value
print(sum)

15

In [52]:
sum  = 0
for value in l:
    sum+= value
    print(sum)

1
3
6
10
15

# range
* range - see the word *range,  remember values that lies within  a particular interval

* range (starts, stops)
* range(starts, stops,step)


* range(5) - 0,1,2,3,4
* range(10,100) - 10,11 12... 99
* range(10,100,5) - 10, 15, 20, 25, 30, 35...... 95 100

In [54]:
for value in range(5):
    
    print(value)

0
1
2
3
4

In [56]:
for value in range(10,50):
    print(value)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [58]:
for value in range(10,50,5):
    print(value)

10
15
20
25
30
35
40
45

# print values of any variable name 


write a short code
that ouputs
 this 
 
 0
 1
 2
 3
 4
 5
 6
 7
 8
 9

In [59]:
for value in range(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

# write a code using for loop
## to find the sum of range(1,21)

the output should be 210

In [62]:
sum = 0
for value in range(1,21):
    sum+= value
print(sum)

210